<h3 data-test="title">Book {{ data.home.title }}</h3>
<div>
  <span data-test="price">${{ data.home.price }} per night</span>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Choose the check in date</mat-label>
    <input matInput [matDatepicker]="checkInPicker" [(ngModel)]="checkInDateStr" data-test="check-in">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkInPicker></mat-datepicker>
  </mat-form-field>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Choose the check in date</mat-label>
    <input matInput [matDatepicker]="checkOutPicker" [(ngModel)]="checkOutDateStr" data-test="check-out">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkOutPicker></mat-datepicker>
  </mat-form-field>
</div>
<p data-test="total">Total: ${{ getTotal() || 0 }}</p>
<div>
  <button data-test="book-btn" type="submit" (click)="bookHome($event)">Book</button>
</div>
