<h3 data-test="title" mat-dialog-title>Book {{ data.home.title }}</h3>
<p data-test="price" class="my-5"><span class="text-lg font-bold text-indigo-500">${{ data.home.price }}</span>
  per night</p>
<div class="my-5">
  <mat-form-field appearance="fill">
    <mat-label>Choose the check in date</mat-label>
    <input matInput [matDatepicker]="checkInPicker" [(ngModel)]="checkInDateStr" data-test="check-in">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkInPicker></mat-datepicker>
  </mat-form-field>
</div>
<div class="my-5">
  <mat-form-field appearance="fill">
    <mat-label>Choose the check in date</mat-label>
    <input matInput [matDatepicker]="checkOutPicker" [(ngModel)]="checkOutDateStr" data-test="check-out">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkOutPicker></mat-datepicker>
  </mat-form-field>
</div>
<p data-test="total" class="my-5 font-bold">Total: <span class="text-indigo-500">{{ getTotal() }}</span></p>
<div>
  <button data-test="book-btn"
          type="submit"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          (click)="bookHome($event)">Book</button>
</div>
