<div class="max-w-7xl mx-auto p-2 sm:px-6 lg:px-8">
  <ul  class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    <li data-test="home" *ngFor="let home of homes$! | async">
      <div class="group relative">
        <div data-test="image"
             class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden lg:h-80 lg:aspect-none">
          <img [src]="home.image" [alt]="home.title"
               class="w-full h-full object-center object-cover lg:w-full lg:h-full">
        </div>
        <div class="mt-4 flex justify-between items-center">
          <div>
            <h3 data-test="title" class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="inset-0"></span>
                {{ home.title }}
              </a>
            </h3>
            <p data-test="location" class="mt-1 text-sm text-gray-500">{{ home.location }}</p>
            <p data-test="price"
               class="mt-1 text-sm font-medium text-gray-900">{{ home.price | currency: '': 'symbol-narrow': '1.0'}}</p>
          </div>

          <button data-test="book-btn"
                  type="button"
                  class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                  (click)="openDialog(home)">Book</button>
        </div>
      </div>
    </li>
  </ul>
</div>
